body {
    margin: 0;
    font-family: 'DM Sans';
    src: url('./fonts/DMSans-Medium.ttf') format('truetype'); /* Adjust the path and file name */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
